* {
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

h4 {
    font-size: 0.9em;
}

body {
    background-color: #34342F;
    color: #ffffff;
    font-family: 'Overpass', sans-serif;
    font-size: 1em;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: #FBB03B;
}

button {
    background-color: #FBB03B;
    color: #ffffff;
    border: 0;
    padding: 0.75em 1em;
}

button:hover {
    font-weight: 900;
    cursor: pointer;
}

header {
    background-image: linear-gradient(to bottom, rgba(77, 77, 75, 0.9), rgba(77, 77, 75, 0), rgba(77, 77, 75, 0)), url("images/hero-image.jpg");
    background-size: cover;
    height: 100vh;
}

header ul {
    display: flex;
    padding-left: 0;
    margin: 0;
}

header li {
    list-style: none;
    margin-right: 2em;
}

header li:nth-last-of-type(1) {
    margin: 0;
}

.main-content-block {
    padding: 2em;
    background-color: #FBB03B;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #4f4f4b;
    border-radius: 100px;
    border: solid 2px #454541;
}

.quote img {
    height: 10px;
}

.centre-container {
    display: flex;
    justify-content: center;
}

.contact p {
    font-weight: 300;
    margin-bottom: 0;
}

.social img {
    height: 50px;
    object-fit: scale-down;
    border-radius: 50%;
    border: solid 2px white;
}

.footer-logos img {
    height: 25px;
}
